@font-face {
  font-family: "Digital-7";
  src: url("/fonts/digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Digital-7", Arial, sans-serif;
  background-color: #960000;
}
* {
  touch-action: manipulation;
}
.normal-font {
  font-family: Arial, sans-serif;
}
.half-red-half-blue {
  background: linear-gradient(to right, red 50%, blue 50%);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.overlay-text {
  color: white;
  font-size: 30em;
  text-align: center;
}
